.container {
  background-color: transparent;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.messagesContainer {
  gap: 5px;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
  height: 100%;
  color: var(--text-color-normal);
  /* Hide default scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for webkit browsers */
.messagesContainer::-webkit-scrollbar {
  display: none;
}

.image {
  /* position: absolute;
  top: -50px;
  left: -150px;
  width: 800px;
  transform: scaleX(-1);
  rotate: -4deg;
  z-index: 1;
  opacity: 1;
  pointer-events: none; */
}

.messageBubble {
  border-radius: 20px;
  word-wrap: break-word;
  /* padding-top: 30px !important;
  padding-bottom: 30px !important; */
  font-size: 18px;
  color: var(--text-color-normal);
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 20px;

}

.userMessage {
  max-width: calc(100% - 100px);

  align-self: flex-end;
  transition: all 0.2s ease-in-out;
  margin-right: 30px;
  /* border-top-right-radius: 0px; */
  /* margin-left: 20px; */
  padding-left: 15px !important;
  padding-right: 10px !important;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: var(--border);
}

.userMessage:hover {
  background-color: var(--color-accent-hover) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.1s ease-in-out,
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.assistantMessage {
  padding-left: 20px !important;
  padding-right: 10px !important;
  align-self: flex-start;
  color: var(--text-color);
  /* border-top-left-radius: 0px; */
  margin-left: 10px;
  margin-right: 10px;
  /* background: repeating-linear-gradient(-15deg, #f8f8f8, #f8f8f8 4px, #ffffff 4px, #ffffff 6px); */
}

.messagesContainer > div:first-child.assistantMessage {
  margin-top: 100px;
}

.messagesContainer > div:last-child.assistantMessage {
  margin-bottom: 0px;
}

.messagesContainer > div:last-child.userMessage {
  margin-bottom: 50px;
}

.messageBubble {
  font-family: 'IBMPlexSans-regular';
  font-size: 17px;
}

.messageBubble h1 {
  font-size: 22px;
  font-family: 'IBMPlexSans-bold';
  line-height: 22px;
  color: var(--text-color);
}

.messageBubble h2 {
  font-size: 18px;
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color);
}

.messageBubble h3 {
  font-size: 16px;
  margin: 0.3em 0;
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color);
}

.messageBubble h4 {
  font-size: 14px;
  margin: 0.2em 0;
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color);
}

.messageBubble h5 {
  font-size: 1.1em;
  margin: 0.1em 0;
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color);
}

.messageBubble h6 {
  font-size: 1em;
  margin: 0.1em 0;
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color);
}

.messageBubble strong {
  font-family: 'IBMPlexSans-bold';

  color: var(--text-color);
}
.messageBubble em {
  font-family: 'IBMPlexSans-italic';
}

.messageBubble ol {
  padding-left: 20px;
  margin: 8px 0;
}

.messageBubble ol li {
  margin-bottom: 4px;
}

.messageBubble ul {
  padding-left: 20px;
  margin: 8px 0;
}
