:root {
  --box_shadow_selected_no_hover: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box_shadow_selected_hover: 0 4px 8px rgba(0, 0, 0, 0.1);
  --orange_transition:  0.3s ease;
}

.row {
  padding: 0px !important;
  /* background-color: var(--background_color_translucent); */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  font-family: 'IBMPlexSans-bold';
  /* padding: 0px 20px; */
  border-radius: 10px;
  /* border: var(--border-accent); */
  height: 40px;
  width: 160px;
  /* transition: all 0.3s ease-in-out; */
  z-index: 1;
  transition: color var(--orange_transition) !important;
  margin-top: 0px;
  cursor: pointer;
}
.row .statusDot{
  transition: all var(--orange_transition) !important;

}

.row.selected {
  margin-right: var(--issue_popover_margin);
  opacity: 0;
}

.row.hasIssues {
  /* border-color:var(--color-accent); */
}

.row.noIssues {
  border-color: transparent;
  /* opacity: 0; */
}

.issuesText {
  font-size: 18px;
  font-family: 'IBMPlexSans-Bold';
}

.row.selected .issuesText {
  font-size: 38px;
  font-family: 'IBMPlexSans-Bold';
}

.row:hover .statusDot {
  transition: all var(--orange_transition) !important;
  border-color: var(--color_accent_orange);
  color: var(--color_accent_orange);
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

  /* border: 2px solid var(--color-accent); */
}

.row.selected .statusDot {
  opacity: 0;
}

.row.selected:hover .statusDot {
  background-color: transparent;
}

.row.selected:hover {
  background-color: var(--color-accent-bright) !important;
  color: white;
  /* border: 2px solid var(--color-accent); */
}

.row.noIssues:hover {
  border-color: var(--phenex-green);
}

.statusDot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 10px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBMPlexSans-bold';
  font-size: 22px;
  line-height: 1;
  color: var(--color-accent-bright);
  /* background: linear-gradient(135deg, var(--color-accent-bright), var(--accent-color-hover)); */
  border: 2px solid var(--color-accent-bright);
  background-color:transparent;

  
}

/* .statusDot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  background: linear-gradient(135deg, var(--color-accent-bright), var(--accent-color-hover));
  color: white;
  text-align: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
} */

.row.noIssues .statusDot.green {
  border-color: transparent;
  color: transparent;
}

.statusDot.red {
  /* background-color: var(--color-accent); */
}

.statusDot.green {
  /* background-color: transparent; */
}

.statusDot.selected {
}

.text {
  font-size: 14px;
  color: var(--text-color);
}

.row.selected {
  background-color: var(--color-accent-bright);
  border-color: var(--color-accent_2) !important;
  color: var(--xbutton_color_orange_background);
  width: 402px;
  z-index: 2;
  height: 65px;
  border-radius: var(--popover_border_radius_top) var(--popover_border_radius_top) 0px 0px;
  box-shadow: var(--box_shadow_selected_no_hover);
}

/* .row.selected:hover {
  transform: translateY(-1px);

  box-shadow: var(--box_shadow_selected_hover);
} */

.row.noIssues.selected {
  background-color: var(--phenex-green);
  border-color: var(--phenex-green);
}

.row.selected:hover .xButton {
  color: white;
}

.labelUnselected {
  font-family: 'IBMPlexSans-bold';
  font-size: 24px;
  text-align: right;
  position: absolute;
  top:10px;
  right:50px;
}


.birdIcon{
  height: 50px;
  width:50px;
  position: absolute;
  right:0px;
  top:-20px;
  transition: filter var(--orange_transition) !important;

}

.birdIssues{
  height: 45px;
  width:45px;
  position: absolute;
  right:-15px;
  top:15px;
}

.row:hover .birdIssues {
  filter: brightness(1.5) saturate(1.0);
}

.row:hover{
  color: var(--color_accent_orange);
}
