:root {
  --box_shadow_selected_no_hover: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box_shadow_selected_hover: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  /* display: flex; */

  background-color: var(--background_color_translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: 'IBMPlexSans-bold';
  /* padding: 0px 20px; */
  border-radius: 10px;
  border: var(--border-accent);
  height: 52px;
  width: 190px;
  /* transition: all 0.3s ease-in-out; */
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out !important;
}

.row.hasIssues {
  /* border-color:var(--color-accent); */
}

.row.noIssues {
  border-color: transparent;
  opacity: 0;
  pointer-events: none;
}

.issuesText {
  font-size: 18px;
  font-family: 'IBMPlexSans-Bold';
}

.row.selected .issuesText {
  font-size: 38px;
  font-family: 'IBMPlexSans-Bold';
}

.row:hover {
  background-color: var(--color-accent-hover) !important;
  color: var(--color-accent);

  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: translateY 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;

  /* border: 2px solid var(--color-accent); */
}

.row.selected:hover {
  background-color: var(--color-accent-bright) !important;
  color: white;
  /* border: 2px solid var(--color-accent); */
}

.row.noIssues:hover {
  border-color: var(--phenex-green);
}

.statusDot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 10px;
}

.row.noIssues .statusDot.green {
  /* background-color: blue;
  right:0px !important;
  position: absolute !important; */
}

.statusDot.red {
  background-color: var(--color-accent);
}

.statusDot.green {
  background-color: transparent;
}

.statusDot.selected {
}

.text {
  font-size: 14px;
  color: var(--text-color);
}

.row.selected {
  background-color: var(--color-accent-bright);
  border-color: var(--color-accent_2) !important;
  color: var(--xbutton_color_orange_background);
  width: 400px;
  z-index: 2;
  height: 65px;
  border-radius: var(--popover_border_radius_top) var(--popover_border_radius_top) 0px 0px;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--box_shadow_selected_no_hover);
}

/* .row.selected:hover {
  transform: translateY(-1px);

  box-shadow: var(--box_shadow_selected_hover);
} */

.row.noIssues.selected {
  background-color: var(--phenex-green);
  border-color: var(--phenex-green);
}

.labelMain {
  margin-left: 0px;
  height: 20px;
  position: absolute;
  top: 8px;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% - 45px);
  text-wrap: wrap;
  text-align: right;
  /* transition: all 0.3s ease-in-out; */
}

.row.selected .labelMain {
  text-align: left;
  /* transition: all 0.3s ease-in-out; */
  background-color: transparent !important;
  top: 14px;
  padding-left: 20px;
}

.labelNoIssues {
  margin-left: 45px;
  height: 20px;
  position: absolute;
  top: 8px;
  font-size: 20px;
  color: var(--phenex-green);
}

.labelMain .number {
}

.number.phenotypeIssues {
  margin-left: 5px;
  font-size: 18px;
}

.labelSecondary {
  font-size: 12px;
  font-family: 'IBMPlexSans-bolditalic';
}

.totalIssues {
  font-size: 18px;
  margin-right: 5px;
}

.row.selected:hover .xButton {
  color: white;
}
