.container {
  position: absolute;
  user-select: none;
  right: 10px;
  top: 0px;
  transition: all 0.3s ease;
  z-index: 1001;
}

.showingPopover {
  /* top: 4px; */
  right: 8px;
}

.issuesButton {
  position: absolute;
  top: 0px !important;
  right: 0px;
  margin: 0px !important;
  padding: 0px !important;
  background-color: transparent;
  z-index: 1000;
}

.popover {
  z-index: 2;
}

.hasIssues {
  pointer-events: all;
}

.noIssues {
  pointer-events: none;
}
