.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  height: 100%;
  overflow-y: hidden;
}

.header {
  font-size: 12px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  border-bottom: var(--border);
}

.content {
  flex: 1;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow-y: auto;
  height: 100%;
  padding-right: 20px;
}

.domainSection {
  position: relative;
  margin-bottom: 4px;
  padding: 4px 30px 8px 8px;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: transparent solid 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.domainSection:hover {
  border-color: var(--line-color);
}

.domainSection.selected {
  background-color: white;
  border-color: var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
}

.domainSection.selected:hover {
  color: black;
}

.domainName {
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
}

.domainInfo {
  font-size: 0.9em;
  color: #666;
  margin: 0;
  line-height: 1.4;
}
