.editButton,
.deleteButton {
  background-color: var(--color_translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  padding: 6px 7px 3px 7px;
  cursor: pointer;
  opacity: 0;
  margin-top: 0px;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: var(--border);
  position: absolute;
  right: 37px;
  bottom: 3px;
}

.deleteButton {
  right: 3px;
  opacity: 0;
}

.editButton:hover,
.deleteButton:hover {
  background: var(--button-color-hover);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: var(--border-accent);
}

.editButton:focus,
.deleteButton:focus {
  outline: none;
}

.editButton:focus-visible,
.deleteButton:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color);
}

.editIcon {
  width: 16px;
  height: 16px;
}

:global(.ag-row:hover) .editButton {
  opacity: 1;
  border: var(--border-accent);
}

:global(.ag-row:hover) .deleteButton {
  opacity: 1;
}

.label {
  text-wrap: wrap;
  line-height: 1 !important;
  font-size: 18px;
  font-family: "IBMPlexSans-bold";
  /* padding: 4px 0; */
  /* font-weight: bold; */
  /* padding:0px;
  margin:0px;
  line-height: 1; */
}

.container {
  padding: 0px;
  margin: 0px;
  line-height: 1;
  padding-top: 10px;
}

.ancestorLabel{
  font-family: "IBMPlexSans-bolditalic";
}

.ancestorDivider{
  font-family: "IBMPlexSans-bold";
  color: var(--color-accent-bright);
  margin:0px 5px 0px 5px;
}

.ancestorsLabel{
  font-family: "IBMPlexSans-boldtitalic";
  font-size: 10px;
}

.componentPhenotypeName{

}

.selected {
  font-family: "IBMPlexSans-bold";
}

.infotext{
  font-size: 12px;
  font-family:"IBMPlexSans-regular";
}
