:global(.ag-cell) {
  /* overflow: visible !important; */
  transition: background-color 0.2s ease;
  color: var(--text-color-normal) !important;
  /* border-radius: 4px; */
  padding: 0 !important;
  border: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

:global(.ag-cell:hover) {
  /* background-color: var(--color-accent-hover); */
}

:global(.ag-header-cell:hover) {
  color: var(--color-accent);
}

:global(.ag-header-cell) {
  /* border-bottom: var(--border); */
}

:global(.ag-cell-focus),
:global(.ag-cell-range-selected) {
  background-color: transparent !important;
  border-color: var(--line-color) !important;
  border: 1px solid var(--color-accent-bright);
}


:global(.ag-cell) .missing {
  /* overflow: visible !important; */
  transition: background-color 0.2s ease;
  background-color: transparent;
  border: var(--border-accent);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px !important;
  height: 100%;
  /* display: block; */

}

.missing {
  position: absolute;
  top: 0;
  left: 4px;
  width: calc(100% - 8px);
  opacity: 0.8;
}



.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  font-size: 100px;
}

.containerStyle {
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}

.selected {
  /* background-color: red; */
  
}

.missingLabel {
  color: white;
  font-family: "IBMPlexSans-bolditalic";
  font-size: 16px;
}


/* .container {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
} */
