.container {
  margin-top: 5px;
  background-color: transparent;
  line-height: var(--item-font-size);
  border-radius: var(--item-radius);
  border: var(--item-border-default);
  transition: var(--item-transition);
  font-family: var(--item-font-family);
  font-size: var(--item-font-size);
  color: var(--item-font-color);
  border-width: var(--border_width_item) !important;
  padding: var(--padding_vertical_item) var(--padding_horizontal_item);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 100%;
  text-wrap: wrap;
}

.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: var(--item-border-hover);
}

