:global(.ag-cell) {
  /* overflow: visible !important; */
  transition: background-color 0.2s ease;
  color: var(--text-color-normal) !important;
  /* border-radius: 4px; */
  padding: 0 !important;
  border: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

:global(.ag-cell:hover) {
  /* background-color: var(--color-accent-hover); */
}

:global(.ag-header-cell:hover) {
  color: var(--color-accent);
}

:global(.ag-header-cell) {
  /* border-bottom: var(--border); */
}

:global(.ag-cell-focus),
:global(.ag-cell-range-selected) {
  background-color: transparent !important;
  border-color: var(--line-color) !important;
  border: 1px solid var(--color-accent-bright);
}


:global(.ag-cell) .missing {
  /* overflow: visible !important; */
  transition: background-color 0.2s ease;
  background-color: transparent;
  border: var(--border-accent);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px !important;
  height: 100%;
  /* display: block; */

}

.missing {
  position: absolute;
  top: 0;
  left: 4px;
  width: calc(100% - 8px);
  opacity: 0.8;
}



.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  font-size: 100px;
}

.containerStyle {
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}

.selected {
  /* background-color: red; */
  
}

.missingLabel {
  color: white;
  font-family: "IBMPlexSans-bolditalic";
  font-size: 16px;
}

/* Button styles for cells */
.buttonContainer {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.containerStyle:hover .buttonContainer {
  opacity: 1;
}

.editButton,
.deleteButton {
  background-color: var(--color_translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: var(--border);
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.editButton:hover,
.deleteButton:hover {
  background: var(--button-color-hover);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: var(--color-accent-bright);
}

.buttonIcon {
  width: 14px;
  height: 14px;
  color: var(--text-color-normal);
}
