.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
}

.verticalLine {
  width: 8px;
  height: 100%;
  background-color: var(--color_accent_blue);
  position: absolute;
  left: 0;
  top: 0;
}
