.block {
  padding: 0px 5px;
  border-radius: 4px;
  font-size:24px;
  font-family: "IBMPlexSans-regular";
  cursor: pointer;
}

.block:hover {

  opacity: 1;
  cursor: pointer;
}

.container {
  text-align: right;
  font-size: inherit;
  font-family: 'IBMPlexSans-bolditalic';
  line-height: 20px;
  padding-top: 10px;
}

.index {
  margin-left: 5px;
}

.countdiv {
  bottom: 5px;
  right: 5px;
  padding: 0px;
  margin: 0px;
  font-family: 'IBMPlexSans-bolditalic';
}
