.block {
  padding: 2px 5px;
  border-radius: 4px;
}

.block:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  text-align: right;
  font-size: inherit;
  font-family: 'IBMPlexSans-bolditalic';
  line-height: 20px;
  padding-top: 10px;
}

.index {
  margin-left: 5px;
}

.countdiv {
  bottom: 5px;
  right: 20px;
  padding: 0px;
  margin: 0px;

  font-family: 'IBMPlexSans-bolditalic';
}
