.filtersContainer {
  /* width: 100%; */
  text-wrap: wrap;
  gap: 3px;
  line-height: 11px;
  font-size: 11px;
  font-family: 'IBMPlexSans-regular';
}

.filterRow {
  gap: 8px;
  margin-top: 3px;

  padding: 5px 10px;
  background-color: var(--item-color-default);
  border-radius: var(--item-radius);
}

.filterRow:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterValue {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'IBMPlexSans-regular';
}

.operator {
  color: var(--text-color-inactive);
  font-family: 'IBMPlexSans-bold';
}

/* .min {
  color: var(--color-accent);
}

.max {
  color: var(--phenex-blue);
} */
