.row {
  /* display: flex; */
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: 'SNPro-bold';
  /* padding: 0px 20px; */
  border-radius: 10px;
  border: var(--border);
  height:52px;
  width:190px;
  /* transition: all 0.3s ease-in-out; */
  position: relative;
  z-index: 1;
}

.row.hasIssues{
  /* border-color:var(--color-accent); */
}

.row.noIssues{
  border-color:transparent;
}

.issuesText{
  font-size:18px;
  font-family: "SNPro-black";
}

.row.selected .issuesText {
  font-size:38px;
  font-family: "SNPro-bold";
}
.row:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);

  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: translateY 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;

  /* border: 2px solid var(--color-accent); */
}

.row.noIssues:hover{
  border-color:var(--phenex-green);
}

.statusDot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top:12px;
  right:10px;
}

.row.noIssues .statusDot.green{
  /* background-color: blue;
  right:0px !important;
  position: absolute !important; */
}

.statusDot.red {
  background-color: var(--color-accent);
}

.statusDot.green {
  background-color: var(--phenex-green);
}

.statusDot.selected {
}

.text {
  font-size: 14px;
  color: var(--text-color);
}

.row.selected {
  border-color: transparent;
  /* transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

  /* transform: translateY(-1px); */
  background-color: var(--background-color);
  color: black;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* transform: translateY(-1px); */
  width:270px;
  z-index: 2;
  /* transition: all 0.3s ease-in-out; */

}

.row.selected:hover {
 box-shadow: none;
}

.row.noIssues.selected {
  background-color: var(--phenex-green);
  border-color: var(--phenex-green);

}

.labelMain{
  margin-left:0px;
  height: 20px;
  position: absolute;
  top:8px;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% - 45px);
  text-wrap: wrap;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

.row.selected .labelMain{
  text-align: left;
  transition: all 0.3s ease-in-out;

}

.labelNoIssues{
  margin-left:45px;
  height: 20px;
  position: absolute;
  top:8px;
  font-size: 20px;
  color:var(--phenex-green);
}

.labelMain .number {
}

.number.phenotypeIssues {
  margin-left: 5px;
}

.labelSecondary{
  font-size:12px;
  margin-left:20px;
  height: 15px;
  position: absolute;
  top:30px;
}

.totalIssues{
  margin-right: 5px;
}