.container {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* max-width: 250px; */
  gap: 4px;
  position: absolute;
  right: 40px;
  top: 10px;
  user-select: none;
  transition: all 0.3s ease;
  z-index:10;
  /* max-height: 400px; */
  /* overflow-y: auto; */
}

.showingPopover{
  top: 35px;
  right:40px;
}
.issuesButton {
  z-index: 1000;
}

.popover{
  z-index: 2;
}