.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.labelBox {
  padding: 5px 7px;
  border-radius: 6px;
  line-height: var(--font_size_items);
  /* min-height: 1.35em; */
  /* max-height: calc(1.35em * 3); */
  background-color: var(--color_info_panel_item_background, #f0f0f0);
  font-size: var(--font_size_items);
  font-family: inherit;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  box-sizing: border-box;
}

.labelText{
  /* background-color: red; */
}