.arrowsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.leftArrow {
  stroke: var(--phenex-red);
  stroke-width: 4;
  /* animation: drawArrow 2s ease-in-out infinite; */
}

.leftArrowHead {
  fill: var(--phenex-red);
  opacity: 0.2;
  /* animation: fadeArrow 2s ease-in-out infinite; */
}

.leftArrowHead,
.rightArrowHead {
  fill: var(--phenex-red);
  /* animation: fadeArrowHead 2s ease-in-out infinite; */
}

@keyframes drawArrow {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 300;
    stroke-dashoffset: -300;
  }
}

@keyframes fadeArrowHead {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
}
