ibis-framework[snowflake,duckdb,examples]==9.5.0
black==24.10.0
python-dotenv
pytest
snowflake-connector-python
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-jupyter
setuptools
openpyxl
deepdiff
lifelines==0.30.0
matplotlib==3.10.1
scipy>=1.9.0
statsmodels>=0.13.0
scikit-learn>=1.0.0
