.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  background-color: blue;
  width: 100%;
  height: 100%;
  background-color: transparent;
  flex-wrap: wrap;
  padding:0px;
  padding-top:3px;
}

.item {
  display: flex;
  background-color: var(--item-color-default);
  border-radius: var(--item-radius);
  border-width: var(--border_width_item) !important;
  transition: var(--item-transition);
  font-family: var(--item-font-family);
  font-size: var(--item-font-size);
  color: var(--item-font-color);
  padding: 0px;
  text-wrap: wrap;
  border : 1px solid transparent;
}

.item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: var(--item-border-hover);
}

.operator {
  font-family: "IBMPlexSans-semibold";
  font-size: 12px;
  color: var(--text-color-muted);
  padding: 0 4px;
  user-select: none;
}

.empty {
  width: 100%;
  height: 100%;
  min-height: 20px;
}
