.topSection {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}

.cohortNameInput {
  border: none;
  padding: 8px;
  font-size: 40px;
  outline: none;
  margin-right: 16px;
  width: calc(100% - 350px);
  font-family: 'SNPro-Bold';
}

.cohortNameInput::placeholder {
  color: #999;
}

.buttonsContainer {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 30px;
  /* margin-left: 0px; */
}

.addPhenotypeButton,
.reportButton {
  padding: 8px 16px;
  background-color: var(--button-color-inactive);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addPhenotypeButton {
  color: white;
  background-color: var(--accent-color);
}

.addPhenotypeButton:hover,
.reportButton:hover {
  background-color: var(--accent-color-hover);
}

.dropdownContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 160px;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: black;
}

.dropdownItem:hover {
  background-color: var(--button-color-inactive);
}
