.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.leftPanel {
  background-color: var(--background-color);
}

.centerPanel {
  flex: 1;
  background-color: var(--background-color);
  min-width: 400px;
}

.rightPanel {
  background-color: var(--background-color);
}

.divider {
  width: 15px;
  background-color: var(--background-color);
  cursor: col-resize;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividerLine {
  height: 100%;
  pointer-events: none;
  width: 0px;
  background-color: var(--border-color);
  transition: background-color 0.2s ease;
  z-index: 1000;
}

.divider:hover .dividerLine {
  background-color: var(--color-accent);
  width: 3px;
}

.divider:hover .dividerLine.right.collapsed {
  width: 3px;
  pointer-events: none;
  cursor: default;
}

.collapsed {
  width: 0;
  overflow: hidden;
}

.collapseButton {
  position: absolute;
  padding: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  z-index: 1;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  left: 13px;
  font-size: 22px;
  font-family: 'SNPro-bold';
  color: hsl(0, 0%, 60%);
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: var(--border);
  background-color: white;
  color: var(--color-accent);
  user-select: none;
}

.collapseButton.left:hover {
  border: 1px solid var(--color-accent);
}

.collapseButton:hover {
  transition: transform 0.2s ease;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-accent);
  color: white;
  outline: none;
  border: none;
  /* border: 1px solid var(--color-accent); */
}

.collapseButton.collapsed.left:hover {
  transition: transform 0.2s ease;
  transform: translateY(-1px);
  box-shadow: 10 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-accent);
  color: white;
}

.collapseButton:focus {
  outline: none;
}

.collapseButton.left {
  left: -12px;
  top: 25px;
  width: 40px;
  height: 40px;
  bottom: 1px; /* bottom of collapse buttons!*/
  border: var(--border);
  /* transition: all 0.2s ease; */
}

.collapseButton.left.collapsed {
  left: 5px;
  top: 7px;
  border: 1px solid transparent;
  box-shadow: none;
  font-family: 'SNPro-black';
}

.collapseButton.right {
  font-family: 'SNPro-black';

  font-size: 30px;
  padding-left: 2px;
}
/* 
.leftCollapseButton.collapsed:hover {
  background-color: var(--color-accent);
  color: white;
  outline: none;
  border: none;
} */

.collapseButton.right {
  left: -80px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border: var(--border);
  border: 2px solid var(--color-accent);
}

.collapseButton.right.collapsed {
}

.collapseButton.left.collapsed {
  transform: rotate(180deg);
}

.panel.collapsed {
  width: 0 !important;
  padding: 0;
  margin: 0;
}

.rightDividerPadding {
  width: 9px;
  height: 100%;
  background-color: white;
  margin-left: -12px;
  pointer-events: none;
  position: absolute;
  border-right: var(--border);
}

.divider:hover .collapseButton.left {
  border-color: var(--color-accent);
}

.leftDividerPadding {
  width: 8px;
  height: 100%;
  background-color: white;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  margin-left: 10px;
  transition: all 0.2s ease;
  border-left: var(--border);
}

.leftDividerPadding.leftDividercollapsed {
  background-color: white;
  margin-left: 0px;
  width: 16px;
}

.rightDividerPadding.collapsed {
  background-color: white;
  width: 100px;
}

.panel {
  transition: max-width 0.2s ease, width 0.2s ease, opacity 0.2s ease;
  overflow: hidden;
  opacity: 1;
}

.leftPanel {
  width: 100%;
  max-width: var(--initial-left-width);
}

.rightPanel {
  width: 100%;
  max-width: var(--initial-right-width);
}

.panel.collapsed {
  max-width: 0 !important;
  width: 0 !important;
  opacity: 0;
  opacity: 0;
}

.divider {
  transition: all 0.2s ease, width 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}
