.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.leftPanel {
  background-color: var(--background-color);
}

.centerPanel {
  flex: 1;
  background-color: var(--background-color);
  min-width: 700px;
}

.rightPanel {
  background-color: var(--background-color);
}

.divider {
  width: 15px;
  /* background-color: blue; */
  background-color: var(--background-color);
  cursor: col-resize;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividerLine {
  height: 100%;
  pointer-events: none;
  width: 1px;
  background-color: var(--border-color);
  transition: background-color 0.2s ease;
}
.divider:hover .dividerLine {
  background-color: var(--accent-color);
}
/*
.container[data-dragging='true'] .dividerLine {
  background-color: var(--accent-color);
  width: 2px;
} */

.collapseButton {
  position: absolute;
  padding: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  z-index: 1;
}

.collapsed {
  width: 0;
  overflow: hidden;
}

.collapseButton {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  /* border: 1px solid #ccc; */
  display: flex;
  align-items: center;
  left: 13px;
  font-size: 22px;
  font-family: 'SNPro-bold';
  color: hsl(0, 0%, 60%);
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: var(--border);
  background-color: white;
  color: var(--phenex-red);
}

.collapseButton:hover {
  transition: transform 0.3s ease;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collapseButton:focus {
  outline: none;
}

.leftCollapseButton {
  left: 4px;
  top: 23px;
  width: 40px;
  height: 40px;
  bottom: 1px; /* bottom of collapse buttons!*/
  border: var(--border);
}
.rightCollapseButton {
  left: -80px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border: var(--border);
  background-color: white;
  color: var(--phenex-red);
  border: 2px solid var(--phenex-red);
}

.collapseButton.collapsed {
  transform: rotate(180deg);
}

.panel.collapsed {
  width: 0 !important;
  padding: 0;
  margin: 0;
}
