.navBar {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  background-color: var(--color_translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--line-color);
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 10px;
}

.actionButton {
  background: none;
  border: none;
  padding: 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: opacity 0.2s;
  height:40px;
  width:40px;
  outline: none;
  border:none
}

.actionButton:hover {
  opacity: 0.7;
}

.issuesLabel {
  font-size: 14px;
  user-select: none;
}

.birdIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.viewContent {
  font-size: 14px;
  user-select: none;
}

.viewNavBar{
  border-radius:15px !important;

}

.viewNavContent {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left:5px;
  padding-right:5px;
}

.navArrowButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: opacity 0.2s;
  min-width: 24px;
}
.navArrowButton:focus{
  outline:none;
}
.navArrowButton:hover {
  opacity: 0.7;
}

.horizontalScrollContainer{
    padding: 2px 25px;
    background-color: var(--background-color);
    border-radius: 20px;
    border: var(--line-color) 1px solid;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.horizontalScrollbar {
  position: relative;
  width: 80px;
  height: 100%;
  background-color: transparent;
  border-radius: 3px;
  cursor: default;
}

.scrollbarThumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 45px;
  background-color: var(--line-color);
  border-radius: 14px;
  cursor: grab;
  transition: background-color 0.2s;
}

.scrollbarThumb:hover {
  background-color: var(--color_accent_orange);
}

.scrollbarThumb:active {
  cursor: grabbing;
}

.eyeButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  transition: opacity 0.2s;
  min-width: 24px;
}

.eyeButton:hover {
  opacity: 0.7;
}


.classNameTabsContainer{
  background-color: transparent !important;
  border-color:transparent;
  height: 32px !important;
  backdrop-filter: none !important;
  background-color: transparent !important;
  border: none !important;
  /* border: 1px solid var(--line-color); */

}

.classNameTabsContainer:hover{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;

}

.classNameSectionTabs{
  font-size: var(--font_size_breadcrumb)!important;
  height: 32px !important;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 10px !important;
}