.phenexNavBar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: transparent;
  pointer-events: none;
  transition: all 100ms ease-in-out;
  transform: translateY(0);
  opacity: 1;
}

.phenexNavBar.allHidden {
  transform: translateY(calc(100% + 30px));
  opacity: 0;
}

.phenexNavBar > * {
  pointer-events: auto;
}
