.chartGroup {
  border: calc(1px / var(--pz-scale, 1)) solid red;
  border-radius: 12px;
  padding: calc(10px / var(--pz-scale, 1));
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--line-color, #e0e0e0);
  background-color: white;
}

.title { /* attrition, baseline characteristics, outcomes, etc title */
  padding-left: min(calc(max(100px * var(--pz-scale, 1), 10px) + 20px), 60px);

  font-size: clamp(30px, calc(18px / var(--pz-scale, 1)), 90px);
  font-weight: 600;
  color: black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 300px;
}
