.card {
  border: 1px solid var(--line-color, #e0e0e0);
  border-top:none;
  overflow: hidden;
  margin-bottom: 10px;
    background-color: white; /* SECTION CARD BACKGROUND COLOR includes all rows or characteristics chart */
}

.title { /* each section within baseline characteristics i.e. 'hcru'*/
  font-size: clamp(22px, calc(14px / var(--pz-scale, 1)), 80px);
  color: #333;
  padding: 16px 20px 12px;
  font-family: 'IBMPlexSans-bold', sans-serif;
  /* border-bottom: 1px solid var(--line-color, #e0e0e0); */
  padding-left: min(calc(max(120px * var(--pz-scale, 1), 10px) + 20px), 80px);
  padding-top: min(calc(max(150px * var(--pz-scale, 1), 10px) + 20px), 50px);
  padding-bottom: min(calc(max(120px * var(--pz-scale, 1), 10px) + 20px), 20px);
letter-spacing: 0.05em;
  text-transform: uppercase;
}
