.card {
  border: none;
  border-top:none;
  overflow: hidden;
    background-color: white; /* SECTION CARD BACKGROUND COLOR includes all rows or characteristics chart */
  padding-bottom: min(calc(max(120px * var(--pz-scale, 1), 10px) + 20px), 100px);
}

.title { /* each section within baseline characteristics i.e. 'hcru'*/
  font-size: clamp(22px, calc(14px / var(--pz-scale, 1)), 80px);
  color: #333;
  padding: 16px 20px 12px;
  font-family: 'IBMPlexSans-bold', sans-serif;
  border-top: calc(1px / var(--pz-scale, 1)) solid var(--line-color);
  padding-left: min(calc(max(120px * var(--pz-scale, 1), 10px) + 20px), 30px);
  padding-top: min(calc(max(150px * var(--pz-scale, 1), 10px) + 20px), 20px);
  padding-bottom: min(calc(max(120px * var(--pz-scale, 1), 10px) + 20px), 100px);
letter-spacing: 0.05em;
  text-transform: uppercase;
}
