.codelistContainer {
  display: inline-flex;
  flex-direction: column;
  margin-top: var(--item-margin-top);
  padding-bottom: 0px;
  max-width: 100%;
}

.codeBlock {
  background-color: var(--item-color-default);
  border-radius: var(--item-radius);
  padding: 4px;
  margin-bottom: 4px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  
  border-radius: var(--item-radius);
  border: var(--item-border-default);
  transition: var(--item-transition);
}

.codeBlock:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: var(--item-border-hover);

}



.codes {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.code {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 2px 2px;
  font-size: 11px;
  line-height: 11px;
  color: #333;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.codeType {
  font-size: 11px;
  color: #666;
  margin-bottom: 0;
  margin-top: 2px;
  margin-left: 4px;
  height: 12px;
  line-height: 10px;
  display: block;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notApplicable {
  height: calc(100% + 15px);
  width: calc(100%+30px);
  color: #dddddd;
}

.missing {
  color: red;
}
/* Target AG Grid cell container */
:global(.ag-cell) :local(.notApplicable) {
}

/* Generate unique colors for different code types */
/* .codeBlock:nth-child(3n + 1) {
  background-color: white;
  border: var(--border);

}
.codeBlock:nth-child(3n + 2) {
  background-color: #f7fff0;
}
.codeBlock:nth-child(3n + 3) {
  background-color: #fff0f7;
}

.codeBlock:nth-child(3n + 1) .code {
  background-color: white;
  border: var(--border);
}
.codeBlock:nth-child(3n + 2) .code {
  background-color: #e0ffe0;
}
.codeBlock:nth-child(3n + 3) .code {
  background-color: #ffe0f0;
} */
