:global(.ag-cell) {
  overflow: visible !important;
}

.addToChatButton {
  position: absolute;
  right: -10px;
  bottom: 0px;
  background: white;
  border: 2px solid var(--color-accent);
  padding: 6px 12px;
  color: var(--color-accent);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
  font-family: 'SNPro-regular';
  font-size: 12px;
  padding: 2px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.addToChatButton:hover {
  background: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

:global(.ag-cell:hover) .addToChatButton {
  opacity: 1;
}

.missing {
  background-color: red;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}

.missing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  opacity: 0.8;
}

/* .container {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
} */
