.rightPanel {
  flex: 1;
  height: 100%;
  top: 0px;
  width: 100%;
  position: absolute;
  margin-left: 0px;
  background-color: var(--background-color, #f5f5f5);
}

.expanded {
  margin-left: 0;
}

.rightPanelCard {
  background-color: white;
  height: calc(100%); /* asf bottom of cohrot view card to bottom!*/
  border-radius: 0px 0px 0px 0px;
  position: relative;
  /* border-left: var(--line-color);
  border-right: var(--line-color); */
  overflow: hidden;
  border: 0px !important;
  /* box-shadow: 0 1px 2px hsl(0, 0, 80%);
  transition: all 0.2s ease-in-out; */
}

.rightPanelCard:hover {
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px hsl(100, 100, 0%); */
}
