.tabsContainer {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 4px 4px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px;
  background-color: var(--color_translucent);
  backdrop-filter: blur(10px);
  /* border: 1px solid var(--line-color); */
  -webkit-backdrop-filter: blur(10px);
  user-select: none;
  flex-shrink: 0;
  width: fit-content;
  /* background-color: yellow; */
}

.tabsContainer:hover {
  background-color: var(--color-accent-hover) !important;
  border: 1px solid var(--dynamic-accent-color, var(--color-accent-bright));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 2px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--button-size-default);
  transition: all 0.2s ease-in-out;
  outline: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  font-family: 'IBMPlexSans-bold';
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 26px;
  background-color: var(--button-background-color-default);
  color: var(--button-text-color-default);
  border: 1px solid var(--button-border-color-default);
  font-family: var(--button-font-family-default);
  text-wrap: nowrap;
}

.tab:hover {
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: var(--button-background-color-hover);
  color: var(--dynamic-accent-color, var(--button-text-color-hover));
  border: 1px solid var(--dynamic-accent-color, var(--button-border-color-hover));
  font-family: var(--button-font-family-hover);
}

.tab.active {
  background-color: var(--button-background-color-selected) !important;
  color: var(--dynamic-accent-color, var(--button-text-color-selected));
  border: 1px solid var(--dynamic-accent-color, var(--button-border-color-selected));
  font-family: var(--button-font-family-selected);

  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab:focus {
  outline: none;
}

.tab:focus-visible {
  outline: none;
}

.outline {
  font-family: 'IBMPlexSans-bold';
  border: var(--border);
}

.tab.outline:hover {
  font-family: 'IBMPlexSans-bold';
}

.icon{
  height: 90%;
  padding-top:5%!important;
  /* vertical-align: middle; */
}
