.node {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius);
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  overflow: visible;
  margin: 8px 10px;
  border: 1px solid transparent;
}

.node:hover {
  /* background-color: white; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  border: var(--border);
  /* transform: translateY(-1px); */
}

.selected {
  border: var(--border);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.selected:hover {
  border: var(--border);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.caret {
  font-size: 10px;
  transition: transform 0.2s ease;
  display: inline-block;
}

.nodeName {
  font-size: 18px;
  color: #333;
  font: 'SNPro-bold';
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addCohortNode .nodeName {
  font-size: 16px;
  color: var(--text-color-inactive) !important;
  font: 'SNPro-regular';
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -30px;
  transition: all 0.2s ease-in-out;
}

.addCohortNode {
  height: 20px;
  margin: 10px 85px 0px 40px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: var(--border);
}

.addCohortNode:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: var(--phenex-red); */
}

.addCohortNode:hover .nodeName {
  color: black !important;
}
