.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topSection {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  color: var(--color-accent-bright);
  opacity: .8;
}

.bottomSection {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  user-select: none;
}

.regularItem {
  color: #666;
  background-color: transparent;
}

.regularItem:hover {
  color: #333;
  background-color: #f0f0f0;
}

.lastItem {
  color: var(--color-accent-bright);
  font-family: "IBMPlexSans-bold";
}

.lastItem:hover {
  background-color: #d2e3fc;
}

.separator {
  color: #999;
  font-size: 14px;
  user-select: none;
}
