.buttonsContainer {
  display: flex;
  gap: 8px;
  padding: 4px;
  background-color: transparent;
  border-radius: 8px;
  justify-content: flex-end;
  margin-left: auto;
}

.button {
  padding: 4px 16px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color-inactive);
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  outline: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid var(--line-color); */
  font-family: 'IBMPlexSans-regular';
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  width: auto;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.button:hover {
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 150px;
  padding: 8px 0;
  margin: 2px 0 0;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  color: var(--text-color-inactive);
  cursor: pointer;
  font-size: 14px;
  font-family: 'IBMPlexSans-bold';
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: var(--button-color-hover);
}

.outline {
  border: var(--border);
  font-family: 'IBMPlexSans-bold';
}
