.container {
  display: flex;
  width: 100%;
  position: relative;
}

.mainPanel {
  flex: 0 0 auto;
  min-width: 0;
  background: white;
  border-radius: 12px 0 0 12px;
  /* box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15); */
  border: 1px solid var(--line-color, #e0e0e0);
  border-right: none;
  background-color: white;
}

.commentsPanel {
  flex: 0 0 auto;
  min-width: 0;
  position: relative;
  align-self: stretch;

}

.commentsPanelContent {
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.commentsPanelContent::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 10px;
  height: 100%;
  cursor: col-resize;
  position: absolute;
  background-color: transparent;
  z-index: 5000;
  top: 0;
  left: -5px;
  border-right: 1px solid var(--line-color, #e0e0e0);
  background-color: white;
}

.divider:hover {
  border-right: 2px solid var(--color_accent_blue);
}

[data-dragging='true'] {
  cursor: col-resize;
  user-select: none;
}

[data-dragging='true'] * {
  user-select: none;
}
