.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  margin:0px;
}

.listItem {
  cursor: pointer;
  border-radius: 8px;
  transition:
    background 0.2s,
    box-shadow 0.2s;
  outline: none;

  color: white;
  background-color: var(--button-background-color-default);
  font-family: var(--button-font-family-default) !important;
  border: 1px solid var(--button-border-color-default);
  font-size: var(--font_size_items);
  user-select: none;
  padding: 2px 4px;
  border-radius: 4px;
}

.listItem:hover {
  background-color: var(--button-background-color-hover);
  font-family: var(--button-font-family-hover);
  border: 1px solid var(--button-border-color-hover);
}

.listItem.selected:hover {
  background-color: white;
  background-color: var(--color-accent-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
}

.selected {
  color: var(--button-text-color-selected);
  background-color: var(--button-background-color-selected);
  font-family: var(--button-font-family-selected);
  border: 1px solid var(--button-border-color-selected);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itemName {
  /* font-family:"IBMPlexSans-Bold"; */
  /* line-height: 1.2; */
}
.listItem:hover .itemName {
  font-family: var(--button-font-family-hover);
}

.listItem.selected .itemName {
  font-family: var(--button-font-family-selected);
}
.listItem:hover {
  background-color: var(--color_accent_blue);
}

.listItem.selected {
  color: var(--color_accent_blue);
}


.listItem.selected {
  border-color: var(--color_accent_blue);
}


.listItem.selected:hover {
  background-color: var(--color_accent_blue);
  color:white !important;
}

.itemInfo {
  margin: 0;
  margin-top: 0px;
  padding-left: 3px;
  font-size: 12px;
  font-family: 'IBMPlexSans-Regular';
  color: white;
}

/* .listItem:hover .itemInfo{
  color:black;
}


.listItem.selected .itemInfo{
  color:black !important;
} */
