.container {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-right: 50px;
  padding-left:20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  font-family: 'IBMPlexSans-bold';
  font-size: 18px;
  height: 20px;
  margin-left: 20px;
}

.editButton {
  background: white;
  border: none;
  padding: 6px 7px 3px 7px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: var(--border);
  margin-right: 10px;
}

.editButton:hover {
  background: var(--button-color-hover);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: var(--border);
}

.editButton:focus {
  outline: none;
}

.editButton:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color);
}

.editIcon {
  width: 16px;
  height: 16px;
}

.displayState {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: transparent;
}

.displayRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-family: 'IBMPlexSans-bold';
  color: var(--text-color-secondary);
  min-width: 150px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.myTitle {
  padding-bottom: 0px;
  margin: 0;
  font-family: 'IBMPlexSans-bold';
  font-size: 30px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-primary);
  margin: 0;
  margin-left: 10px;
  font-family: 'IBMPlexSans-bold';
}

.dropdown {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color-content);
  color: var(--text-color-primary);
  font-size: 14px;
  width: 100%;
  max-width: 424px;
  border: var(--border);
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.inputFieldsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
}

.gridFullWidth {
  grid-column: 1 / -1;
}

.additionalFieldsContainer {
  margin-top: 0px;
}

.additionalFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.inputLabel {
  font-size: 0px;
  color: var(--text-color-secondary);
  font-family: 'IBMPlexSans-bold';
  margin: 0;
  text-align: left;
}

.input {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color-content);
  color: var(--text-color-primary);
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  border: var(--border);
}

.input[type='password'] {
  font-family: monospace;
}

.lastField {
  margin-bottom: 40px;
}

.moreButton {
  padding: 2px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--button-size-default);
  transition: all 0.2s ease-in-out;
  outline: none;
  font-family: 'IBMPlexSans-bold';
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 26px;
  background-color: var(--button-background-color-default);
  color: var(--button-text-color-default);
  border: var(--border);
  text-wrap: nowrap;
  margin: 10px 0;
}

.moreButton:focus {
  outline: none;
}

.moreButton:focus-visible {
  outline: none;
}


.moreButton:hover {
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: var(--button-background-color-hover);
  color: var(--dynamic-accent-color, var(--button-text-color-hover));
  border: 1px solid var(--dynamic-accent-color, var(--button-border-color-hover));
}
