phenex
fastapi[standard]
gunicorn
uvicorn
openai==1.55.3
httpx==0.27.2
typing-extensions>=4.11.0,<5.0.0
pydantic-ai[openai]
deepdiff
fastembed
faiss-cpu
python-jose[cryptography]
passlib[bcrypt]
python-multipart
asyncpg
confuse
authlib
SQLAlchemy
psycopg[binary]
argon2-cffi
