phenex
fastapi[standard]
gunicorn
uvicorn
openai==1.52.0
pydantic-ai[openai]
deepdiff
fastembed
faiss-cpu
python-jose[cryptography]
passlib[bcrypt]
python-multipart
asyncpg
confuse
authlib
SQLAlchemy
psycopg[binary]
argon2-cffi
