.cohortTableContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--background-color);
}

.topSection {
  height: calc(var(--top_app_navigation_tab_bar) + 100px);
}

.bottomSection {
  height: calc(100% - 30px);
  padding-top:30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(-100%);
}

.cohortDescription {
  flex: 1;
  padding: 12px;
}

.cohortDescription .ql-container {
  height: calc(100% - 42px);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
}

.cohortDescription .ql-toolbar {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e0e0e0;
}

.cohortDescription .ql-editor {
  height: 100px;
}

.cohortDescription .ql-editor.ql-blank::before {
  color: #999;
}

.cohortDescription .ql-tooltip {
  opacity: 0 !important;
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}

.rag-green-outer {
  background-color: #b7e1cd;
  color: #000;
}

.cohortNameContainer {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
}

.cohortNameInput {
  border: none;
  padding: 0px;
  font-size: 30px;
  outline: none;
  width: 60%;
  font-family: 'IBMPlexSans-Bold';
  margin-left: 60px;
  margin-top: 8px;
}

.cohortNameInput::placeholder {
  color: var(--text-color-secondary);
}

.sectionTabsContainer {
  margin-left: 10px;
  position: absolute;
  top: calc(var(--top_app_navigation_tab_bar) + 40px);
  background-color: transparent;
}
