:root {
  --accordian_container_border_width: 1px;
  --top_app_navigation_tab_bar: 85px;
  --centerPanelLeftMargin: 30px;
}
.tabsContainer {
  background-color: transparent;
  position: absolute;
  top: calc(var(--top_app_navigation_tab_bar) + 0px);
  left: var(--centerPanelLeftMargin);
  /* z-index: 10; */
}

.toggleButton {
  position: absolute;
  padding: 0px 0px;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  font-size: 22px;
  font-family: 'IBMPlexSans-bold';
  color: black;
  transform: rotate(-90deg);
  left: 30px;
  background-color: white;
  margin-top: 8px;
  border: var(--accordian_container_border_width) solid var(--line-color);

  opacity: 1;
  transition: 0.2s ease;
}

.toggleButton.closed {
  opacity: 0;
}

.toggleButton:hover {
  transition: transform 0.2s ease;
  /* transform: translateY(-1px); */
  transform: rotate(-90deg) translateX(1px);
  outline: none;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.toggleButton.closed {
  transform: translateY(-24px);
  transform: rotate(90deg);
  border: var(--border);
}

.toggleButton:focus {
  outline: none;
}

.addNewPhenotypeDropdownHeader {
  margin: 0px 0x;
  border-radius: 10px 10px 0px 0px;
  font-family: 'IBMPlexSans-bold';
  padding: 10px 15px;
  color: white;
  background-color: var(--color-accent-bright);
  border: 1px solid var(--color-accent_2);
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.addNewPhenotypeDropdownHeaderButton {
  background-color: transparent;
  color: var(--phenex-red-active);
  font-size: 14px;
  width: 60px;
  position: absolute;
  font-family: 'IBMPlexSans-bold';
  top: 4px;
  right: -15px;
}

.addNewPhenotypeDropdownHeader:hover {
  transform: translateY(-1px);
}

.addNewPhenotypeDropdownHeader:hover .addNewPhenotypeDropdownHeaderButton {
  color: red !important;
}

.addNewPhenotypeDropdown{
  z-index: 1001;
}