.phenotypeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 0;
  background-color: transparent;
}

.tableBox {
  flex: 1;
  height: 100%;
  width: 100%;
}


.header{
  margin-top:5px;
  margin-bottom:3px;
  height:40px;

}

.addButton{
position: absolute;
right:20px;
}