.phenotypeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  border: none;
}

.tableBox {
  /* background-color: var(--background-color) !important; */
  /* border-radius:15px; */
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-bottom: 10px;
}

.header {
  margin-top: 5px;
  margin-bottom: 3px;
  height: 40px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 4px 12px 0 12px;
}

.addButton {
  padding: 8px 12px;
  border: 2px dashed var(--line-color);
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color-inactive);
  cursor: pointer;
  font-size: var(--font_size_items);
  transition: all 0.2s ease-in-out;
  outline: none;
  margin-left:12px;
  font-family: 'IBMPlexSans-regular';
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  width: calc(100% - 24px);
}

.addButton:hover {
  color: white;
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid var(--color-accent); */
  color: var(--color-accent);
  /* background-color: var(----color-accent-hover); */
}

.addButton:focus {
  outline: none;
}

.addButton:focus-visible {
  outline: none;
}
