.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color);
  gap: 0;
  padding-bottom: 500px;
}

/* Scrollbar styling */
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
