.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 78px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
  padding-bottom:400px;
  height: calc(100% - 78px - 400px + 70px); /* Adjust for top offset and bottom padding */
  border-right: var(--border);
  border-top: var(--border);
}

/* Hide default scrollbar */
.container::-webkit-scrollbar {
  display: none;
}

.container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
