.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
  padding-top: 100px;
}

/* Hide default scrollbar */
.container::-webkit-scrollbar {
  display: none;
}

.container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
