.manualContent {
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-width: 100px;
  max-width: 200px;
  max-height: 260px; */
  /* overflow-y: auto; */
  height: 100%;
  color: white;
}

.constantsContent {
  padding: 4px;
}

.input {
  padding: 4px 8px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select {
  width: 20%;
  padding: 4px 8px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.select:hover {
  border-color: #bbb;
}

.timerangefilter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2px;
  /* border: 2px solid #ddd; */
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.timerangefilter:hover {
  /* border-color: var(--color-accent); */
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterSection label {
  min-width: 30px;
}

.addButton {
  padding: 8px 16px;
  border: 1px dashed #ddd;
  border-radius: 4px;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addButton:hover {
  border-color: #bbb;
  color: #333;
  background-color: #f5f5f5;
}
