.analysisCell {
  padding: 20px 12px 15px 30px;
  width: 100%;
  box-sizing: border-box;
}

.analysisText {
    font-family:"IBMPlexSans-regular", sans-serif;
  font-size: var(--font_size_infotext, 16px);
  color: #999;
  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
  margin: 0;
}
