.overlay {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  animation: fadeIn 0.15s ease-out;
  background-color: rgba(255,255,255,.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.overlay.closing {
  animation: fadeOut 0.15s ease-in forwards;
}

.modal {
  animation: scaleIn 0.15s ease-out;
  margin-left: 10%;
  margin-top:15%;
  height:100%;
}

.rowContent{
  padding: 30px 100px 30px 50px;

  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
  border-radius: 12px;

}

.closing .modal {
  animation: scaleOut 0.15s ease-in forwards;
}

.breadcrumbs {
  margin-bottom: 8px;
}

.crumb {
  color: black;
  font-size: var(--font_size_breadcrumb, 11px);
}

.crumbLast {
  color: black;
  font-size: var(--font_size_pagetitle, 18px);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes scaleIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes scaleOut {
  from { opacity: 1; transform: scale(1); }
  to   { opacity: 0; transform: scale(0.95); }
}
