/* Masking container - sits exactly where the history should be */
.historyContainer {
    position: absolute;
    top: 0px;
    right: -1px;
    width: 170px; /* Base width */
    height: 60px; /* Enough to contain the cards */
    overflow: hidden; /* This creates the masking effect */
    z-index: 10;
    /* Debug border - remove in production */
    /* border: 2px solid red; */
}

/* Expanded state - wider on hover to show more history */
.historyContainer:hover {
     /* Much wider to show full history items */
}

.rightPanelHistory {
    position: absolute;
    right: 10px; /* Stick to the right edge of the container */
    top: 2px; /* Move cards down from the top */
    width: 200px; /* Wide enough for expanded content */
    transition: transform 0.1s ease-in-out;
}

/* Default state - visible within container */
.rightPanelHistory.slideIn {
    transform: translateX(5px);
}

/* Hidden state - slide out to the right, moving outside the container's bounds */
.rightPanelHistory.slideOut {
    transform: translateX(135px); 
    opacity: .95;
    /* Slides most of it out of the container */
}

.cardStack {
    position: relative;
    width: 200px; 
    /* Wide enough for expanded cards */
    height: 50px; /* Increased height to accommodate animated cards moving up */
    transition: all 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align cards to the right edge */
}

/* Enhanced shadow when history is expanded */
.historyContainer:hover .cardStack {
    filter: drop-shadow( 0 0px 8px rgba(0, 0, 0, .1));
}