.chartGroup {
  border: calc(1px / var(--pz-scale, 1)) solid red;
  border-radius: 12px;
  padding: calc(10px / var(--pz-scale, 1));
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--line-color, #e0e0e0);
  background-color: white;
}

.title {
  font-size: clamp(30px, calc(18px / var(--pz-scale, 1)), 90px);
  font-weight: 600;
  color: var(--color-text-secondary, #888);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: aqua;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 300px;
}
