.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding:0px 0px 0px 0px;
  overflow: hidden;
}

.tabRegion{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 40px;
  background-color: var(--background-color) !important;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: flex-start;
  padding-left: 55px;
  pointer-events: auto;
  background-color: transparent !important;
}

.tabsContainer {
  gap: 2px;
}

.tab {
  font-size: var(--font_size_breadcrumb, 14px);
  padding: 4px 12px;
  height: fit-content;
}

.tabActive {
  font-weight: 600;
  background-color: black !important;
  color:white !important;
}

.tabHover{
  border-color: transparent !important;
}

.actionBarRegion {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 99;
  pointer-events: none;
  background-color: red;
}

.actionBarRegion > * {
  pointer-events: auto;
}

.scrollRegion {
  position: relative;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.scrollContent {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.scrollContent::-webkit-scrollbar {
  display: none;
}

.scrollbarRegion {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 100;
}

.scrollbarRegion > * {
  pointer-events: auto;
}

.navTitleCard {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 0;
  font-family: "IBMPlexSans-bold", sans-serif;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-weight: bold;
  color: #222;
  font-size: var(--font_size_pagetitle, 18px);
  line-height: 1.2;
}

.subtitle {
  margin: 0;
  font-size: var(--font_size_breadcrumbs, 11px);
  font-weight: 400;
  color: #555;
  line-height: 1.2;
}
