.card {
  border: 1px solid var(--line-color, #e0e0e0);
  border-top:none;
  overflow: hidden;
  margin-bottom: 0px;
    /* background-color: red; */
}

.title {
  font-size: clamp(22px, calc(14px / var(--pz-scale, 1)), 80px);
  color: #333;
  padding: 16px 20px 12px;
  font-family: 'IBMPlexSans-bold', sans-serif;
  border-bottom: 1px solid var(--line-color, #e0e0e0);
  padding-left: min(calc(max(150px * var(--pz-scale, 1), 10px) + 20px), 90px);
  padding-top: min(calc(max(150px * var(--pz-scale, 1), 10px) + 20px), 90px);

}
