.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 0;
  height: fit-content;
  min-height: 0;
}

.topSection {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.tableBox {
  flex: 0 0 auto;
}

.gridContainer {
  width: 100%;
  margin-top: 10px;
  min-height: 0;
}

.title {
  font-size: 24px;
  font-family: 'IBMPlexSans-bold';
  padding-left: 10px;
  flex-shrink: 0; /* Prevent title from shrinking */
}

.controls {
  height:40px;
}


.addButton {
  position: absolute;
  right: 20px;
  padding: 4px 5px;
  border: none;
  top: 0px;
  margin-bottom: 0;
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color-inactive);
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  outline: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  border: 1px solid var(--line-color);
  font-family: 'IBMPlexSans-bold';
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  width: auto;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.addButton:hover {
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
}

.addButton:focus {
  outline: none;
}

.addButton:focus-visible {
  outline: none;
}

