.container {
  width: 100%;
  height: 100%;
  min-height: 0;
  box-sizing: border-box;
  padding: 5px;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--color_info_panel_item_background);
  border-radius: var(--border_radius_info_panel_item, 8px);
}
