:root{
  --indentation-width: 10px;
  --treelist_width_line: var(--indentation-width);
  --tree_list_row_height: 44px;
}
.treeList {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.treeItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
  background-color: transparent;
}

/* Core tree structure */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
}

/* Tree structure elements */
.toggleButton {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 8px 0 0;
  opacity: 0.8;
}

.toggleButton span {
  display: block;
  transition: transform 0.2s ease;
}

.toggleButton.open span {
  transform: rotate(90deg);
}

/* Content area for custom renderers */
/* .content {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
} */



.container:hover {
  /* background-color: yellow; */
}

.verticalLine {
  /* position: relative;
  display: inline-block; */
  width: calc(var(--treelist_width_line) + 10px);
  opacity: 0.2;
  background-color: purple;
  height: var(--tree_list_row_height);
  margin:0px;
}

.itemContent {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px; /* left margin of entire list*/
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: var(--tree_list_row_height);
}

/* Vertical lines per level */
.verticalLine.level0 {
  display: none;
}

.verticalLine.level1 {
  /* margin-left: calc(var(--treelist_width_line)*1); */
  background-color: red;
}

.verticalLine.level2 {
  margin-left: calc(var(--treelist_width_line));
  background-color: orange;
}

.verticalLine.level3 {
  margin-left: calc(var(--treelist_width_line));
  background-color: yellow;
}

.verticalLine.level4 {
  margin-left: calc(var(--treelist_width_line)*4);
}

.verticalLine.level5 {
  margin-left: calc(var(--treelist_width_line)*5);
}




.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
  margin-left:-10px;
}

.toggleButton span {
  display: block;
  font-size: 12px;
}

.toggleButton.open span {
  transform: rotate(90deg);
}

/* .content {
  display: grid;
  align-items: center;
  flex: 1;
} */

.children {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
