.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--background-color) !important;
}

.leftPanel {
  background-color: var(--background-color) !important;
  transition:
    width 0.2s ease,
    opacity 0.2s ease;
}

.rightPanel {
  transition:
    width 0.2s ease,
    opacity 0.2s ease;
}

.rightPanel.collapsed {
  opacity: 0;
}

.leftPanel.collapsed {
  opacity: 0;
}

.rightPanel {
  background-color: var(--background-color) !important;
}

.divider {
  width: 100px;
  height:100%;
  /* background-color: var(--background-color) !important; */
  cursor: col-resize;
  position: absolute;
  box-shadow: -4px 0 8px -4px rgba(0, 0, 0, 0.1);
  border-left: 1px solid var(--line-color);
  background-color: aqua;
  z-index: 5000;
}

.rightPanelContent{
  z-index: 100;
}
.divider.collapsed {
  width: 0;
  border: none;
}

.divider:hover {
  border-color: var(--color-accent);
}


.divider:hover .dividerLine {
  background-color: red;
  width: 3px;
}

.divider:hover .dividerLine.right.collapsed {
  width: 3px;
  pointer-events: none;
  cursor: default;
}

.divider:hover .collapseButton {
  border-color: var(--color-accent);
}

.collapsed {
  width: 0;
  overflow: hidden;
}

.collapseButton {
  position: absolute;
  padding: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: 'IBMPlexSans-bold';
  color: hsl(0, 0%, 60%);
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  top: 10px;
  /* left: 0px; */

  transition: transform 0.2s ease;
  color: black;
  user-select: none;
  font-family: 'SNPro-black';
  font-size: 20px;
}

.collapseButton:hover {
  transition: transform 0.2s ease;
  transform: translateY(-1px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: var(--color-accent);
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color-deeper);
  color: var(--background-color-deeper-text);
  border-color: var(--background-color-deeper) !important;
}

.collapseButton.collapsed {
}

.panel.collapsed {
  width: 0 !important;
  padding: 0;
  margin: 0;
  opacity: 0;
}

[data-dragging='true'] {
  cursor: col-resize;
  user-select: none;
}

[data-dragging='true'] * {
  user-select: none;
}
