/* NewCohortWizard.module.css */

.wizardContent {
  min-width: 1000px;
  width: 1000px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
}

.title {
  margin: 0 0 2rem 0;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.stepMarker {
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 0 0;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 0px 10px 0px;
}

.stepContent {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding-left:10px;
}

.stepTitle {
  margin: 20px 0 20px 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: "IBMPlexSans-bolditalic";
  color: var(--color-accent-bright);
}

.description {
  margin: 0 0 1.5rem 0;
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.cohortNameContainer {
  margin-top: 30px;
  margin-right:100px;
  margin-left:20px;
}

.cohortNameInput {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  transition: border-color 0.2s ease;
}

.cohortNameInput:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}


.navigationButtons {
  display: flex;
  gap: 4px 6px;
  border-radius: 8px;
  border: var(--border);
  padding: 4px;
  background-color: var(--color_translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  user-select: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.navigationButtons:hover {
  background-color: var(--color-accent-hover) !important;
  border: 1px solid var(--dynamic-accent-color, var(--color-accent-bright));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.button:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
  transform: none;
}

.button:focus {
  outline: none;
}

.button {
  padding: 2px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--button-size-default);
  transition: all 0.2s ease-in-out;
  outline: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  font-family: 'IBMPlexSans-bold';
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 26px;
  background-color: var(--button-background-color-default);
  color: var(--button-text-color-default);
  border: 1px solid var(--button-border-color-default);
  font-family: var(--button-font-family-default);
  text-wrap: nowrap;
}

.button:hover {
  /* transform: translateY(-1px); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: var(--button-background-color-hover);
  color: var(--dynamic-accent-color, var(--button-text-color-hover));
  border: 1px solid var(--dynamic-accent-color, var(--button-border-color-hover));
  font-family: var(--button-font-family-hover);
}
