.classNameSectionTabs {
  composes: classNameSectionTabs from '../../../components/PhenExNavBar/NavBar.module.css';
}

.classNameTabsContainer {
  composes: classNameTabsContainer from '../../../components/PhenExNavBar/NavBar.module.css';
}

.classNameActiveTab {
  composes: classNameActiveTab from '../../../components/PhenExNavBar/NavBar.module.css';
  border-radius: 8px !important;
  background-color: black;
}

.classNameHoverTab {
  border-radius: 8px !important;
  composes: classNameHoverTab from '../../../components/PhenExNavBar/NavBar.module.css';
}
