.scrubber {
  position: relative;
  width: 100%;
  height: 28px;
  background: var(--line-color);
  border: var(--line-color) 1px solid;
  border-radius: 10px;
  cursor: default;
  box-sizing: border-box;
  padding: 4px;
}

.thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 20px;
  background-color: var(--color-accent);
  border-radius: 9px;
  cursor: grab;
  transition: background-color 0.2s;
}

.thumb:hover {
  background-color: var(--color_accent_dark);
}

.thumb:active {
  cursor: grabbing;
}
