:root {
  --accordian_container_border_width: 1px;
}

.accordianContainer {
  border: var(--accordian_container_border_width) solid transparent;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin: 5px 20px;
  background-color: transparent;
  user-select: none;
  transition:
    max-height 0.3s ease-in-out,
    height 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 0px !important;
  margin-top: 4px !important;
  margin-left: 0px;
  max-width: 800px;
  margin-right: 0px;
}

.accordianContainer.opened {
  max-height: 2000px;
  transition:
    max-height 0.3s ease-in-out,
    height 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  border-color: var(--color-accent);
  background-color: white;
}

.header {
  display: flex;
}

.header h2 {
  margin: 0;
  padding-top: 13px;
  font-size: 22px;
  font-family: 'IBMPlexSans-bold';
  margin-left: 80px;
  transition: 0.2s ease;
}

.header.closed h2 {
  padding-top: 2px;
  margin-left: 10px;
}

.toggleButton {
  position: absolute;
  padding: 0px 0px;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  font-size: 22px;
  font-family: 'SNPro-bold';
  color: black;
  transform: rotate(-90deg);
  left: 10px;
  background-color: white;
  margin-top: 8px;
  border: var(--accordian_container_border_width) solid transparent;
  opacity: 1;
  transition: 0.2s ease;
}

.toggleButton:hover {
  transition: transform 0.2s ease;
  transform: rotate(-90deg) translateX(1px);
  outline: none;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.toggleButton.closed {
  transform: translateY(-24px);
  transform: rotate(90deg);
  border: var(--border);
  opacity: 0;
}

.toggleButton:focus {
  outline: none;
}

.content {
  padding: 5px 0px 0px 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordianContainer.opened .content {
  max-height: 2000px;
  transition: max-height 1s ease-in-out;
}

.contentArea {
  padding: 20px;
  font-size: 16px;
  max-height: 500px;
  overflow-y: auto;
}

.tabsContainer {
  position: relative !important;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 20px;
  transition: 0.2s ease;
}

.tabsContainer.closed {
  margin-top: 2px;
  margin-left: 0px;
}

.infoContent {
  padding: 10px 0px 20px 20px;
}

.infoContent ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

strong {
  font-family: 'SNPro-bold';
}
