.whiteText {
  color: white !important;
  border-color: white !important;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0px 12px 5px 10px;
  font-family: 'IBMPlexSans-bold';
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom: 0px;
}

.phenotypeNameInput{
  font-size:40px;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  gap: 0px;
}

.viewerSection {
  max-height: 400px;
  overflow-y: auto;
  flex-shrink: 0;
}

.componentsSection {
  max-height: 400px;
  overflow-y: auto;
  flex-shrink: 0;
}

.controlsContainer {
  margin-left: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fillerText {
  font-family: 'IBMPlexSans-regular';
  font-size: 18px;
}


.ancestorsLabel{
  font-family: "IBMPlexSans-bold";
  font-size: 20px;
}
.ancestorLabel{
  padding: 0px 4px;
  border-radius: 4px;
  font-size:14px;
  border: 1px solid transparent;
  cursor: pointer;
}

.ancestorLabel:hover{
  border: var(--border);
}

.ancestorDivider{
  font-family: "SNPro-black";
  /* color: var(--color-accent-bright); */
  margin: 0px 5px;
  font-size: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
}

/* .breadcrumbLastItem{
  font-size:40px;
}

.breadcrumbItem{
  font-size:32px;
  font-family:"IBMPlexSans-regular";
} */


.index{
  font-size: var(--font_size_breadcrumb) !important;
  margin-left:5px;
  margin-top:5px;
  font-family: "IBMPlexSans-regular" !important;
  line-height: var(--font_size_breadcrumb) !important;
}

.slideoverContainer {
  background-color: transparent !important;
  border: none !important;
}

.breadcrumbsContainer{
  /* No absolute positioning - flows naturally */
  margin-top: 5px;
  margin-left: 5px;
  font-size: 5px !important;
}
.breadcrumbItem{
  font-size: var(--font_size_infotext) !important;
  line-height: 5px !important;
  font-family: 'IBMPlexSans-regular' !important;

}

.breadcrumbLastItem{
  font-size: var(--font_size_breadcrumb) !important;
  font-family: 'IBMPlexSans-bold' !important;
  line-height: var(--font_size_breadcrumb) !important;
  margin-left:-2px;
}

.description{
  font-family: "IBMPlexSans-regular";
  font-size: 16px;
}
