
.whiteText{
    color:white !important;
    border-color:white !important;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0px 12px 5px 10px;
  font-family: "IBMPlexSans-bolditalic";
  font-size: 20px;
  flex-shrink: 0;
  margin-bottom:10px;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.controlsContainer {
  margin-left: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomSection {
  flex: 1;
  overflow-y: auto;
  padding: 0px;
  min-height: 0; /* Allow flex item to shrink below content size */
}
