.textarea {
  padding-top:20px;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  /* padding: 8px; */
  border: none;
  font-family: 'IBMPlexSans-regular';
  font-size: 14px;
  resize: none;
  line-height: 1.5;
  background-color: transparent;
}

.textarea:focus {
  outline: none;
  border: none;
}
