:root{
  --xbutton_color_orange_background:hsl(14, 100%, 95%);
  --popover_border_radius_bottom:10px;
  --popover_border_radius_top:10px;
  --popover_font_size: 20px;

}
:global(.ag-popup-editor) {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  /* border-radius: 0px 0px 0px 0px !important; */
  box-shadow: none !important;
  transform: translateY(calc(-100% + 40px));
  overflow: hidden;
}

:global(.ag-popup-child) {
  /* border-radius: 4px 10px 10px 10px !important; */
}

.header {
  cursor: pointer;
  font-size: 16px;
  font-family: 'IBMPlexSans-regular';
  margin-bottom: 0px;
  padding-right: 20px;
  /* margin: 4px; */
  overflow: hidden;
  text-wrap: wrap;
  min-height: 40px;
  background-color: white;
  /* border-radius: var(--issue_popover_radius) var(--issue_popover_radius) 0px 0px; */
  border: var(--border-accent);
  box-shadow: var(--box_shadow_selected_no_hover);
  background-color: var(--color-accent-bright) !important;
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  position: relative;
  color: var(--xbutton_color_orange_background);
  padding: 4px 20px 10px 4px;
  /* line-height:var(--popover_font_size); */
}

.header:hover{
    color: white;

}

.popoverheader {
  line-height: 20px;
}

.bottomLine{
}

.container > * {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  padding: 0px;
  border: 1px solid var(--color-accent-bright);
  border-radius: var(--popover_border_radius_top) var(--popover_border_radius_top) var(--popover_border_radius_bottom) var(--popover_border_radius_bottom);
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px !important;
  margin-right: 20px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--background_color_translucent);
  overflow:hidden;
}

.content {
  overflow-y: auto;
  height: 100%;
}

.filler {
  font-size: var(--popover_font_size);
  font-family: "IBMPlexSans-regular";

}

.phenotypeName {
  font-family: "IBMPlexSans-bolditalic" !important;
  padding-left: 5px;
}

.actionText {
  padding-left: 5px;
  font-size: var(--popover_font_size);
  font-family: 'IBMPlexSans-bolditalic';
  padding-right: 10px;
}

.doneButton {
  background-color: transparent;
  color: var(--phenex-red-active);
  font-size: 14px;
  width: 60px;
  position: absolute;
  font-family: 'IBMPlexSans-bold';
  top: 4px;
  right: -15px;
}

.header:hover .doneButton {
  color: var(--color-accent) !important;
}

/*
.doneButton:hover {
  color: white;
  background-color: var(--color-accent);
}

.doneButton:focus {
  outline: none;
  border: none;

}

.doneButton:focus-visible {
  outline: none;
  border: none;
} */

.bottomLabel {
  font-family: "IBMPlexSans-regular";
  /* font-size:calc(var(--popover_font_size) - 4px); */
}


.xButton{
  color: var(--xbutton_color_orange_background);
}

.header:hover .xButton{
  color:white;
}