@font-face {
  font-family: 'IBMPlexSans-regular';
  src: url('../assets/fonts/IBMPlexSans-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-bold';
  src: url('../assets/fonts/IBMPlexSans-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-regular';
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-bold';
  src: url('../assets/fonts/IBMPlexSans-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-italic';
  src: url('../assets/fonts/IBMPlexSans-Italic.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans-bolditalic';
  src: url('../assets/fonts/IBMPlexSans-BoldItalic.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SNPro-black';
  src: url('../assets/fonts/SNPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SNPro-regular';
  src: url('../assets/fonts/SNPro-Regular.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansMono';
  src: url('../assets/fonts/NotoSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
