:root {
  --accent-color: #aaa;
  --accent-text-color: white;
  --accent-color-hover: #bf1b1b;
  --line-color: hsl(0, 0%, 88%);
  --line-color-grid: hsl(0, 0%, 95%);
  --line-width-grid: 1px;
  --button-color-inactive: #ebebebea;
  --button-color-hover: #d0d0d0ea;
  --item-color-default: #ebebebea;
  --item-radius: 4px;
  --item-border-default: 1px solid var(--line-color);
  --item-margin-top: 5px;

  --text-color-normal: black;
  --text-color-inactive: hsl(0, 0%, 0%);
  --background-color: #f8f9fa;
  --background-color-content: white;
  --border: 1px solid var(--line-color);
  --border-radius: 8px;
  --height-table-header: 100px;
  --table-margin: 0px;
  --background-color-deeper: hsl(0, 0%, 80%);
  --background-color-deeper-text: white;
  /* --phenex-blue: #11b4d9;
  --phenex-green: #babf21;
  --phenex-coral: #f24f13;
  --phenex-red: #bf1b1b;
  --phenex-dark: #0d0d0d; */
  /* --phenex-blue: #C9D7EA;
  --phenex-green: #E3CCBD;
  --phenex-coral: #E6E6E6;
  --phenex-red: #E3D8A1;
  --phenex-dark: #E2B1BA; */

  /*--phenex-blue: 	hsl(191, 85%, 46%);
  --phenex-green: hsl(62, 71%, 44%);
  --phenex-coral: hsl(16, 90%, 51%);
  --phenex-red: hsl(0, 75%, 43%);
  --phenex-dark: hsl(0, 0%, 5%); */

  --phenex-blue: hsl(191, 40%, 80%);
  --phenex-green: hsl(62, 40%, 80%);
  --phenex-coral: hsl(16, 40%, 80%);
  --phenex-red: hsl(0, 40%, 80%);
  --phenex-red-active: hsl(0, 90%, 80%);
  /* --color-accent-hover: hsl(0, 30%, 96%); */
  --color-accent-hover: hsl(24, 80%, 94%);
  /* --color-accent-bright: hsl(24, 90%, 60%); */
  --color-accent-bright: hsl(14, 100%, 63%);
  --phenex-dark: hsl(0, 40%, 5%);

  --color-accent: var(--phenex-dark); /* #03396c;/*#fa934f;*/
  --color-accent_2: var(--color-accent);

  --box_shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box_shadow_hover: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* --color-accent:  var(--phenex-red); */

  --categorical-filter-color-domain: hsl(252, 40%, 95%);
  --categorical-filter-color-allowed-values: hsl(16, 40%, 95%);
  --categorical-filter-color-column-name: hsl(62, 40%, 95%);

  --item-transition: all 0.1s ease-in-out;
  --item-border-hover: 1px solid var(--line-color);
}

.rag-blue-outer {
  background-color: var(--phenex-blue) !important;
  color: #000 !important;
}

.rag-green-outer {
  background-color: var(--phenex-green) !important;
  color: #000 !important;
}

.rag-coral-outer {
  background-color: var(--phenex-coral) !important;
  color: #000 !important;
}

.rag-red-outer {
  background-color: var(--phenex-red) !important;
  color: #000 !important;
}

.rag-dark-outer {
  background-color: var(--phenex-dark) !important;
  color: white !important;
}
