.nodeName{
  padding: 5px 10px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  border-radius: var(--border-radius);

}
.nodeName:hover {
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
}

.nodeName.selected{
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
}