.node,
.headerNode {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius);
  font-size: 24px;
  transition: 0.2s ease-in-out;
  overflow: visible;
  margin: 8px 10px;
  border: 1px solid transparent;
  background-color: transparent;
}

.node:hover .nodeName {
  background-color: var(--color-accent-hover);
  border-color: var(--line-color);
}

.nodeName {
  padding: 2px 10px 0px 10px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.nodeHeader:hover {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.selected .nodeName {
  border: var(--border);
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent-hover);
}

.selected:hover .nodeName {
  border: 1px solid var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.caret {
  font-size: 10px;
  transition: transform 0.2s ease;
  display: inline-block;
}

.nodeName {
  font-size: 18px;
  color: #333;
  font: 'IBMPlexSans-bold';
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerNode .nodeName {
  /* font-size: 24px; */
  font-family: 'IBMPlexSans-Bold';
  color: var(--text-color);
}

.node:hover .nodeName {
  color: var(--color-accent);
}

.node.selected:hover .nodeName {
  color: black !important;
}

.headerNode {
  font-size: 24px;
  pointer-events: none;
  margin: 0 0 24px 0;
  padding: 12px 16px;
  font-weight: bold;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color-secondary);
}

.headerNode:hover {
  /* border:none !important; */
}

.addButton {
  padding: 2px 4px;
  color: var(--text-color-inactive);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  font-family: 'IBMPlexSans-bold';
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  /* width: 80px; */
  border-radius: 6px;
  position: absolute;
  right: 14px;
  font-family: 'IBMPlexSans-bold';
  font-size: 12px;
  color: var(--text-color-inactive);
  border: 1px solid var(--line-color);
}

.addButton:hover {
  transform: translateY(-1px);
  background-color: var(--color-accent);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--color-accent);
}

.headerNode {
  font-size: 100px;
}
