.nodeName {
  padding: 3px 10px;
  margin-left:10px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  font-size: var(--button-size-default);
  font-family: "IBMPlexSans-bold";
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflow content */
  text-overflow: ellipsis; /* Shows ... for overflow text */
  height: 1.5em; /* Fixed height - adjust value as needed */
  line-height: 1.5em; /* Matches height for vertical centering */
}
.content:hover .nodeName {
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
}

.nodeName.selected {
  color: white;
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(----color-accent-hover);
  font-family: 'IBMPlexSans-bold';
}

/* Use higher specificity to override the default toggleButton styles */
button.studyArrow.studyArrow.studyArrow {
  color: var(--color-accent-bright);
  border-radius: 4px !important;
  font-size: 14px !important;
  width: 20px !important;
  height: 20px !important;
  bottom: 12px !important; /* Override the default bottom: 8px */
  margin-left: -10px;
  transition: color .2s ease;

}


button.studyArrow.studyArrow.studyArrow:hover{
  color: var(--color_accent_orange);
}

.studyArrow span{
    margin-left:20px;
    color:red !important;
}

.studyLabel {
  /* background-color: rgba(74, 144, 226, 0.1) !important;
  border-left: 3px solid #4A90E2 !important;
  padding-left: 35px !important; */
}

.studyContainer {
  /* background-color: rgba(74, 144, 226, 0.05) !important;
  border: 1px solid rgba(74, 144, 226, 0.2) !important;
  border-radius: 4px !important;
  margin: 2px 0 !important; */
}