:root {
  --interaction_area_background_color: white;
}

.interactionArea {
  height: 100%;
  position: relative;
  transition: all 0.6s ease-in-out;
}

.topBar {
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0px;
  background-color: transparent;
  z-index: 10;
}

.wrapper {
  margin: 0px 10px 10px 10px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  font-family: 'IBMPlexSans-regular';
  font-size: 14px;
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}

.wrapper:hover {
  color: var(--color-accent-bright);
  /* transform: translateY(-1px); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.textBox {
  color: black;
  margin-top: 35px;
  

  border: solid 1px var(--color_accent_orange);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: calc(100% - 45px - 30px);
  overflow-y: auto;
  background-color: var(--background-color);
  padding: 10px;
  font-size: 18px;
  transition: font-size 0.6s ease-in-out;
  outline: none;
  z-index: 10;
}

.textBox:empty::before {
  content: 'Ask a question...';
  color: #999;
}

.transparentHeaderGradient{
  position: absolute;
  top:0px;
  width:100%;
  height:100%;
  background: linear-gradient(180deg, transparent, rgba(255,255,255,.7));
  z-index: 1;
}