.thinkingContainer {
  color: black;
  font-size: 50px;
  height: 30px;
  top: -30px;
  position: relative;
  left: 10px;
  /* overflow: hidden; */
}

.buttonContainer {
  margin-top: 0px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
