/* custom.css */
@font-face {
    font-family: "SNPro-regular";
    src: url("./fonts/SNPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SNPro-bold";
    src: url("./fonts/SNPro-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SNPro-black";
    src: url("./fonts/SNPro-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSans-regular";
    src: url("./fonts/IBMPlexSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSans-bold";
    src: url("./fonts/IBMPlexSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Example usage */
body {
    font-family: "IBMPlexSans-regular", sans-serif; /* Use the custom font */
}

#main_title {
    font-family: "IBMPlexSans-bold", sans-serif; /* Use the custom font */
    color: hsl(14, 100%, 63%);
    font-size: 90px; /* Change size of h1 headings */
}

h1,
h2,
h3 {
    font-family: "IBMPlexSans-bold", sans-serif; /* Apply to headings */
    color: hsl(14, 100%, 63%);
    -webkit-background-clip: text; /* Clip the background to the text */
}

h2 {
    font-size: 100px;
}
h3 {
    font-size: 25px;
}

/* Bird icon positioning */
.bird-icon-top-right {
    top: 20px;
    width: 100px;
    height: auto;
}
