.reportContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-height: 200px;
}

.svgLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.rowsContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Space for arrows */
}

.arrow {
    stroke: #333;
    stroke-width: 2;
    fill: none;
}
