.reportContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-height: 200px;
  width: 100%;
}

.svgLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.rowsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure full width for children so flex rows work */
  z-index: 2;
  gap: 0px; /* Space for arrows */
  width: calc(100% - 20px) !important;
  padding: 0px 10px 0px 10px;
}

.arrow {
    stroke: #333;
    stroke-width: 2;
    fill: none;
}
