.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh; /* Full viewport height */
  padding-left:20px;
}

.verticalCardContainer {
  width: 200px;
  min-width: 350px;
  height: 100%;
  position: relative;
  padding-left:0px;
  overflow-x: visible;

}

.verticalCardContainerForScrolling {
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
    padding : 200px 15px 0px 15px;
  box-sizing: border-box;

}

.cohortCard {
  margin-top: 0px;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--line-color);
  border-radius: 15px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: fit-content; /* Card height based on content */
  box-shadow: var(--box_shadow_hover);
  transition: all .3s ease;
  cursor: pointer;
  margin-bottom: 300px;
  overflow:hidden;
  /* background-color: aqua; */
}

.cohortCard:hover{
  background-color: white;
  box-shadow: var(--box_shadow_hover);

}

.cohortHeader {
  padding: 1rem;
  background-color: var(--header-background);
  font-weight: bold;
}

.tableContainer {
  width: 100%;
  height: fit-content;
  overflow: visible;
  margin: 0px;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--text-color-secondary);
  font-style: italic;
}
