.container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: -8px;
  margin-right: 20px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.1s;
  min-height: 20px;
  border: var(--border);
}

.selectionButton {
  font-family: 'SNPro-bold';
  flex: 1;
  padding: 4px 12px;
}

.container:hover {
  background-color: var(--button-color-hover);
}

.container.noSelection {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.container.noSelection:hover {
  background-color: red;
  color: var(--accent-text-color);
}

.editButton {
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.editButton:hover {
  border: transparent;
}

.editButton img {
  width: 16px;
  height: 16px;
}
